/* Styles that override the styles of /main/inc/lib/javascript/jqueryui/css/ui-lighness/jquery-ui-1.8.1.custom.css */
.ui-widget-content{
	background-color:#fff;
	background:-moz-linear-gradient(center top , #eaeaea, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#eaeaea", EndColorStr="#ffffff", GradientType=0);
	border: 1px solid #1E334D;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.ui-widget-header{
	background:#1E334D !important;
	background:-moz-linear-gradient(center top , #1E334D, #1E334D);
	background: -webkit-gradient(linear, left top, left bottom, from(#1E334D), to(#1E334D));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#1E334D", EndColorStr="#1E334D", GradientType=0);
	border: 1px solid #1E334D;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-dialog-titlebar {
    color: #FFF;
}

/* custom styles for the widgets */
#widgetconfigurationinfo {
	background-color: #DDDDDD;
	height:0px;
	opacity: 0;
	overflow: auto;
	border: 1px solid #ccc;
	font-size: 10px;
	color: #666
}
#widgetconfigurationinfoclose{
	cursor: pointer;
}

.widgetconfigurationitem 
{
	background:url(../button.gif) no-repeat;
	display:block;
	color:#0066CC;
	font-weight:normal;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:500px;
}
.widgetconfigurationitem.active
{
	background:url(../button-active.gif) no-repeat;
	display:block;
	color:#0066CC !important;
	font-weight:bold;
	height:30px;
	line-height:29px;
	margin-bottom:14px;
	text-decoration:none;
	width:500px;
}

.widgetconfigurationitem a {

}

.widgetconfigurationitem.active a {
	color:#0066CC !important;
}

.widgetconfigurationitem span.widgettitle{
	text-indent:30px;
	display:block;
	background:url(../widget.gif) no-repeat 5px 5px;
}
.widgetconfigurationitem.active span.widgettitle{
	text-indent:30px;
	display:block;
	background:url(../widget-active.gif) no-repeat 5px 5px;
}
.widgetconfigurationiteminfo{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
}
#widgetactivateinlocationbutton{
	background-color: #F5F5F5;
	border-color: #DEDEDE;
	height: 20px;
	padding-top: 0px;
        width: 50px;
        color: #0066CC;
}
/* Widget settings */ 
form#widget_settings{
	
}
.widget_setting_subtitle {
	border:1px solid grey; 
	padding: 5px;
	background-color: #DDDDDD;
	font-weight: bold;
	color: grey;
}
.widget_setting{
	margin-bottom: 5px;
}
#widget_lastforumposts_posts {
	list-style: none;
margin: 0;
padding: 0;
}
#widget_lastforumposts_posts li{
/*margin: 0;
padding: 0;*/
}
/* overriding the definitions in default.css */
#agenda{
	border: 0px;
	width: 500px;
	height:30px;
	line-height:29px;
	margin: 0;
	margin-bottom:14px;
}
.portlet-content{
	overflow: hidden;
}

#widget_content_bis a {
	color: #1E334D;
}

#widget_content_bis a:link {
	color: #1E334D;
}

#widget_content_bis a:hover {
	color: #990000;
}

#widget_content_ter a {
	color: #1E334D;
}

#widget_content_ter a:link {
	color: #1E334D;
}

#widget_content_ter a:hover {
	color: #990000;
}

#widget_content a {
	color: #1E334D;
}

#widget_content a:link {
	color: #1E334D;
}

#widget_content a:hover {
	color: #990000;
}

#widget_lastdocuments_posts, #widget_lastforumposts {
    text-align: left;
}