body {
    background-color: #2D7E86 !important;
}

main {
    margin-bottom: 80px !important;
}
.footer {
    background-color: #000000 !important;
}
.navbar-bgcolor {
    background: #E6E6E6 !important;
}
#navbar ul li a {
        color: #000000 !important;
}
#navbar ul li a:hover {
        color: #418785 !important;
}
#navbar ul li.active {
    background: #EAEAEA !important;
}
#navbar ul li.active a span {
    color: #418785 !important;
}
header {
    background: #EEEEEE !important;
}
#wrap {
    border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    /*border: 1px solid #C5C5C5 !important;*/
    padding-top: 10px !important;
    min-height: 850px !important;
    background-color: #FFFFFF;
}
.separator {
    color: #B0B5B4;
}