

.ui-icon-closethick {
    text-indent: 0px !important;
    width: 66px !important;
    background: none !important;
}

.ui-dialog-titlebar-close {
    width:60px !important;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -12px !important;
}

.ui-dialog-titlebar-close:hover {
    background: none !important;
}
