
root { 
    display: block;
}

.sectiontablet {
    background-color:#ffffff;
    
}
.courseintro-sectiontitle {
    background-color:#ffffff;
     
}

#courseintroduction {
    background-color:#ffffff;
    
}

.main_activity {
    background-color:#ffffff !important;
    background:url("images/background/back_ie.png");
    background-position:top left;
    background-repeat:repeat-x;
}

.admin_section {
    background-color:#ffffff;
    background:url("images/background/back_ie.png");
    background-position:top left;
    background-repeat:repeat-x;
    width:440px;
}

.section {
    background-color:#ffffff;
     
}
.sectiontitle {
    background-color:#ffffff;
    
}
#content {
    background:url("images/background/back_content_ie.png");
    background-position:bottom left;
    background-repeat:repeat-x;
    background-color: #ffffff;
/*    filter: 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#19000000'), 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='#19000000'), 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color='#19000000'), 
        progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=4, Color='#19000000') ;*/
}

.actions {
    background:url("images/background/back_ie.png");
    background-position:top left;
    background-repeat:repeat-x;
    background-color: #ffffff;
     
}


/*clean up document gallery template */

.gallery .section {
     
}

/*social*/

.search_group_grid_item {
    *min-height:225px;
    *margin-top:5px;
}

.scroll1 {
    overflow-x:hidden;
    
}


/* time login out*/
.backlogout {
     position:relative;
     left:80px;
     top:80px;
}
.corner_bubble {
    background-image:url(../../img/b_bubble.png);
    background-repeat:no-repeat;
    height: 40px;    
    margin-left: 18px;    
    margin-top: -5px;    
    position: absolute;    
    text-align: left;    
    width: 40px;
}
.message_bubble  {
    background-image:url(../../img/back_bubble.png);
    background-repeat:repeat-x;
    background-position: left bottom;
}
.bt_login {
    /*background-color:#757575;*/
    height:30px;
    padding-top:15px;
}

.image_timeout {
    background-image:url("../../img/SessionTimeout.png");  
    background-repeat:no-repeat;
    float:left;   
    height: 490px;  
    margin-left:110px;    
    width: 540px;
}

#expire_session {
    margin-left: 330px;
    margin-top: 174px;
    width: 295px;
}

#expire_session #formLogin {
    padding-bottom: 0 !important;
    padding-left: 35px;
    padding-right: 0 !important;
    padding-top: 0 !important;
    width: 225px;
    border:1px solid #000000;
    padding-top:10px !important;
}
#expire_session #formLogin .label{
    width:0px!important;
}

/*jwplayer in QUIZ on IE8*/
.btn-quiz-submit-bottom {
    padding-top:10px;
}

.custom_quiz {
    border-bottom:1px solid #cccccc;
}

.independent_course_item .b-courselist{
    margin-top:1%;
}
select, textarea, input,
.btnUpload, .bottom-link, button.upgrade_link, button.add, button.save, button.cancel, button.refresh, button.upload, button.search, button.login, button.plus, button.minus, button.next, button.back, button.save_session,
#formLogin,
.box_template_home,
#content,
.section,
.sectiontablet,
.sectiontitle,
#welcome_ico_home,
.actions,
#dokeostabs li.logout a, 
.title-button,
#courseToggleMenu,
#lp-top-navigation,
#generic_tool_header #header_background {
    /*behavior:url("/main/inc/lib/pie/PIE.php");*/
    position: relative;
}

.blender {
   behavior:url("/main/inc/lib/pie/PIE.php"); 
}

#view-top-third #progress-bar {
    height: 18px !important;
}

#player-view-middle .player-actions {
    box-shadow: none;
}

.player-actions {
    behavior:url("/main/inc/lib/pie/PIE.php");
    position: relative;
}
#fileToUpload{
    margin-top:0px !important;
    height:25px !important;
}
.custom-radio input{
    border:0px !important;
    outline: none !important;
}
.custom-checkbox input {
    border:0px !important;
    outline: none !important;
}
form#formEditCourse table #btnImageUpload {
   margin-right: 0px;
   margin-top:0px;
}
.btnUpload {
    /*padding:0px !important;*/
    height:50px !important;
    margin-top:3px;
}
.logout-new {
    border:none;
    background-color:transparent;
}


ul.responsive-tabs__list {
    margin-top:30px;
    margin-left:-45px;
    border-bottom:1px solid #cccccc !important;
    padding-bottom:10px;
}


.responsive-tabs__list__item {
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #cccccc;
    margin-left:5px;
    margin-right:5px;
}
 
.responsive-tabs__list__item--active {
    background:#96040B;
    color:#ffffff;
}

#header1 {
    background-color:#ffffff;
}

#header2 {
    background-color:#96040B !important;
}

.ui-dialog-title-logoutMsgBody{
    background-color:transparent !important;
}

.ui-button:hover, .ui-dialog-buttonset button:first-child {
    background: #696b6b !important;
    color:#ffffff;
    cursor:pointer;   
    border: 0px;    
    background: -moz-linear-gradient(top, #424444 0%, #363738 50%, #2a2a2b 51%, #2f2f2f 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696b6b), color-stop(50%,#363738), color-stop(51%,#2a2a2b), color-stop(100%,#2f2f2f))!important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #424444 0%,#363738 50%,#2a2a2b 51%,#2f2f2f 100%)!important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #424444 0%,#363738 50%,#2a2a2b 51%,#2f2f2f 100%)!important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #424444 0%,#363738 50%,#2a2a2b 51%,#2f2f2f 100%)!important; /* IE10+ */
    background: linear-gradient(top, #424444 0%,#363738 50%,#2a2a2b 51%,#2f2f2f 100%)!important; /* W3C */
}
ul.responsive-tabs__list {
    width:95%;
    margin-left:20px ;
}

.responsive-tabs__panel {
    border:0px !important;
}