.content_bis_title{
border-bottom:1px solid #BBBBBB;
color:#444444;
font-size:20px;
margin:0 0 10px;
padding:2px 10px 1px 0;	
}
.content_bisactions{
	float: right;
}
.comment{
	border:1px solid #BBBBBB;
	margin: 3px;
}
.comment_author{
	font-style:italic; 
	font-size: 80%;
}
.comment_title{
	font-weight: bold;
}
#dialog div.row div.formw{
	width: 400px;
}
