@media (min-width:1220px){

   
}

@media (min-width:992px) and (max-width:1199px){



}

@media (min-width:768px) and (max-width:991px){
     
}

@media (max-width:767px){
     

}

@media (max-width:480px){
     
    .LinkTop {
        margin-top:0px;
    }
    
    
}